<!-- client/index.ejs -->

<!doctype html>

<html>
	
	<head>
		
		<title>Dom Manager</title>
		
		<link href="/thirdpart/bootstrap/dist/css/bootstrap.css"	 					rel="stylesheet" >
		<link href="/thirdpart/bootstrap-additions/dist/bootstrap-additions.min.css" 	rel="stylesheet" >
		<link href="/thirdpart/angularjs-toaster/toaster.min.css" 						rel="stylesheet" >
		<link href="/thirdpart/ladda/dist/ladda-themeless.min.css" 						rel="stylesheet" >
		<link href="/thirdpart/font-awesome/css/font-awesome.min.css" 					rel="stylesheet" >
		
		<link href="/styles/main.css" rel="stylesheet" >
		
	</head>
	
	<body>
	
		<div class="container">
		
			<div class="jumbotron text-center">
				
				<h1> <span class="fa fa-lock"></span> Dom Manager </h1>
		
				<p>Login ou Registre-se:</p>
		
				<a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
				<a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Registre-se</a>
			
			</div>
		
		</div>
	
	</body>

</html>