<!-- client/signup.ejs -->

<div class="container">
	<div class="bs-docs-social">
		<ul class="bs-docs-social-buttons">
			<li><iframe class="github-btn"
					src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true"
					width="100" height="20" title="Star on GitHub"></iframe></li>
			<li><iframe class="github-btn"
					src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true"
					width="102" height="20" title="Fork on GitHub"></iframe></li>
			<li class="follow-btn"><iframe id="twitter-widget-0"
					scrolling="no" frameborder="0" allowtransparency="true"
					class="twitter-follow-button twitter-follow-button-rendered"
					title="Twitter Follow Button"
					src="http://platform.twitter.com/widgets/follow_button.450bd5fbaeab74caf9d49a3141d20693.en.html#_=1444923522640&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=getbootstrap&amp;show_count=true&amp;show_screen_name=true&amp;size=m"
					style="position: static; visibility: visible; width: 225px; height: 20px;"
					data-screen-name="getbootstrap"></iframe></li>
			<li class="tweet-btn"><iframe id="twitter-widget-1"
					scrolling="no" frameborder="0" allowtransparency="true"
					class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
					title="Twitter Tweet Button"
					src="http://platform.twitter.com/widgets/tweet_button.a428ab2e859e8008e0df5404770eb017.en.html#_=1444923522643&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fgetbootstrap.com%2Fcomponents%2F%23navbar&amp;related=mdo%3ACreator%20of%20Bootstrap&amp;size=m&amp;text=Components%20%C2%B7%20Bootstrap&amp;type=share&amp;url=http%3A%2F%2Fgetbootstrap.com%2F&amp;via=getbootstrap"
					style="position: static; visibility: visible; width: 96px; height: 20px;"
					data-url="http://getbootstrap.com/"></iframe></li>
		</ul>
	</div>
</div>
